* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
    

}
.navbar{
    height: 60px;
    width: 100vw;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
    justify-content: space-evenly;
    left: 0;
    top: 0;
}
/* box1*/

.nav-logo{
    height: 50px;
    width: 100px;
}  
.logo{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(Images/imageslogo.png);
    background-size: cover;
    height: 70px;
    width: 140px;
    display: block;
    
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2*/
.nav-address{
    color: white;
    margin-left: 70px;
    margin-right: 3px;
    line-height: 1.2;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 17px;
}
.add-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: sandybrown;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    
}
.search-input{
    font-size:1.2rem;
    width: 500px;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: sandybrown;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid #ef8229;
}
/* box4*/
span{
    font-size: 0.8rem;

}
.nav-second{
    font-size: 1rem;
    font-weight: 700;
}
/*box6*/
.nav-cart i {
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 1000;
}
/**  panel **/
.panel{
    height: 40px;
    background-color: rgb(49, 49, 60);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.90rem;
    font-weight: 700;
}
/** hero section**/
.hero-section{
    background-image: url("Images/hero image.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-message a{
    color: cornflowerblue;

}
/**shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(234, 238, 236);
}
.box{
    border: 2px solid transparent;
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 5px;
    border-radius: 6px;

}



.box-img{
    background-size: cover;
    background-position: center;
    height: 270px;
    margin: 8px;
    border-radius: 20px;
    background-repeat: no-repeat;
}
.box1{
    margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/health.jpg");
}
.box2{
    margin-top: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/beauty.jpg");
    
    
}
.box3{
    margin-top: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/download.jpg");
}
.box4{
     margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/books.jpg");
}
.box5{
     margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/image7.jpg");
}
.box6{
     margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/electro.jpg");
}
.box7{
     margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/image5.jpg");
    
}
.box8{
     margin-top: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("Images/image10.jpg");
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
 color: cornflowerblue;
}
/** footer**/
.footer{
    margin-top: 10px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}
.foot-panel2{
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 300px;

}
ul{
    margin-top: 20px;
}
ul a{
    font-size: 0.85rem;
    display: block;
    margin: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.4px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(Images/imageslogo.png);
    background-size: cover;
    height: 50px;
    width: 140px;
    display: block;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    font-size: 0.7rem;
    height: 80px;
    text-align: center;
    margin-top: 25px;
    
}
.pages {
    margin-top: 25px;
}
    
.copyright {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 10px;
}